:root {
    --background: #152025;
    --text: #f0f5ff;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Exo';
    font-weight: 200;
    background-color: var(--background);
    color: var(--text);
    transition: 300ms;
}

.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.header > * {
    z-index: 2;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2020205f;
    z-index: 1;
}
