@font-face {
  font-family: 'Qaz';
  src: url('assets/fonts/qaz.ttf') format('truetype');
}

@font-face {
  font-family: 'iAWriterMono';
  src: url('assets/fonts/iAWriterMonoV.ttf') format('truetype');
}
