@font-face {
  font-family: 'Config Condensed Bold';
  src: url('assets/fonts/Config Condensed/ConfigCondensed-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Config Condensed SemiBold';
  src: url('assets/fonts/Config Condensed/ConfigCondensed-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'iAWriterMono';
  src: url('assets/fonts/iAWriterMonoV.ttf') format('truetype');
}
